<ion-view title="Signup" id="singup">
  <ion-nav-buttons class="has-header" side="left" scroll="false">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons class="has-header" side="right" scroll="false">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content class="manual-remove-top-padding has-header" padding="false" scroll="false">
    <form class="list" id="signup-form2">
      <div class="spacer" style="width: 320px; height: 100px;"></div>
      <div>
        <img style="width: 100%; height: auto; margin-right: auto; margin-left: auto; display: block;" src="img/cZXkpJRNZQpFn8Q9YYw0_ORDER-NOW.png">
      </div>
      <div class="spacer" style="width: 320px; height: 100px;"></div>
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Nome">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="password" placeholder="Senha">
        </label>
      </ion-list>
      <button class="button button-positive button-block" id="signup-button3">Cadastrar</button>
    </form>
  </ion-content>
</ion-view>